html {
	background-image: url("./backgroundImg.gif");
	background-size: cover;
	font-family: "Lucida Console";
	text-align: center;
	height: 1200px;
	width: 1200px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
	color: #ffffff;
	position: absolute;
	top: 10px;
	left: 450px;
}

.subtitle {
	font-style: italic;
	color: #46e0ff;
	position: absolute;
	top: 80px;
	left: 470px;
}
.field {
	background-color: #ffffff;
	position: absolute;
	padding: 10px;
	top: 140px;
	left: 150px;
}

.song-field {
	background-color: #ffffff;
	padding: 10px;
	position: absolute;
	top: 730px;
	left: 490px;
}
.button {
	position: absolute;
	top: 150px;
	left: 150px;
}

.song-button {
	position: absolute;
	top: 740px;
	left: 500px;
}
.text {
	text-align: left;
	color: #ffffff;
	position: absolute;
	top: 1050px;
	left: 250px;
}

.preferences {
	color: #00ff80;
	text-align: left;
	position: absolute;
	top: 1060px;
	left: 940px;
}

.link {
	text-align: left;
	position: absolute;
	top: 1110px;
	left: 250px;
	color: #ff00ff;
}