html {
	background-image: url("./backgroundImg.gif");
	background-size: cover;
	font-family: "Lucida Console";
}

.main {
  text-align: center;
  min-height: 150vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title {
	color: #ffffff;
}

.subtitle {
	font-style: italic;
	color: #46e0ff;
}
.field {
	background-color: #ffffff;
	position: relative;
	padding: 10px;
	top: 240px;
}

.song-field {
	background-color: #ffffff;
	position: relative;
	padding: 10px;
	top: 410px;
	left: 410px;
}
.button {
	position: relative;
	top: 250px;
}

.song-button {
	position: relative;
	top: 410px;
	left: 460px;
}
.text {
	text-align: left;
	color: #ffffff;
	position: relative;
	top: 550px;
	left: 150px;
}

.preferences {
	color: #00ff80;
	position: relative;
	text-align: left;
	top: 438px;
	left: 1000px;
}

.link {
	text-align: left;
	position: relative;
	top: 520px;
	left: -530px;
	color: blue;
}