html {
	background-image: url("./backgroundImg.gif");
	background-size: cover;
	font-family: "Lucida Console";
	text-align: left;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
	color: #ffffff;
	position: relative;
	top: -50px;
}

.subtitle {
	font-style: italic;
	color: #46e0ff;
	position: relative;
	top: -100px;
}
.field {
	background-color: #8800ff;
}

.song-field {
	background-color: #ffff00;
	position: relative;
	top: 300px;
	left: 420px;
}

.song-button {
	position: relative;
	top: 310px;
	left: 430px;
}
.text {
	text-align: left;
	color: #ffffff;
	position: relative;
	top: 450px;
	left: -300px;
}

.preferences {
	color: #00ff80;
	position: relative;
	top: 330px;
	left: 400px;
}

.link {
	color: #ff00ff;
	position: relative;
	top: 420px;
	left: -610px;
}